* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

footer {
  background-color: #313030;
  padding-bottom: 231px;
}

footer img {
  padding-top: 73px;
}

.footer__description {
  color: #F5F5F5;
  padding-top: 16px;
  letter-spacing: 1px;
  line-height: 23px;
  display: flex;
}

.footer__content {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.footer__menus {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 95px;
  color: #F5F5F5;
}

.footer__menus__first {
  font-size: 24px;
  color: #5468E7;
}

.footer__input {
  font-size: 14px;
  width: 268px;
  height: 46px;
  outline: none;
  padding-left: 10px;
}

.footer__menus li input {
  font-size: 14px;
}

@media (max-width: 1050px) {
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 20px;
  }
}
@media (max-width: 500px) {
  .footer__menus__additior {
    padding-top: 0px;
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  transition: 0.5s;
}

.shrink {
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}

.novbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.novbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.novbar__menus {
  display: flex;
  gap: 60px;
  font-size: 18px;
}

.novbar__menus2 a {
  color: black;
}

.novbar__menus a {
  color: white;
}

.novbar__button {
  width: 184px;
  height: 47px;
  border-radius: 4px;
  outline: none;
  border: 2px solid rgba(84, 104, 231, 0.5019607843);
  background-color: rgba(84, 104, 231, 0.5019607843);
  font-size: 18px;
  cursor: pointer;
}

.novbar svg {
  width: 40px;
  height: 40px;
  margin-right: 25px;
  display: none;
}

.novbar__button a {
  color: white;
}

.novbar__menus2 a {
  color: black;
}

.novbar__blog__menus {
  display: flex;
  gap: 60px;
  font-size: 18px;
}

.novbar__blog__menus a {
  color: black;
}

#toggle {
  background-color: transparent;
  border: none;
}

@media (max-width: 900px) {
  .novbar__menus {
    display: none;
  }
  .novbar__menus2 {
    display: none;
  }
  .novbar__button {
    display: none;
  }
  .novbar svg {
    display: block;
    margin-right: 20px;
  }
}
@media (max-width: 460px) {
  .novbar__menus {
    display: none;
  }
  .novbar__menus2 {
    display: none;
  }
  .novbar__button {
    display: none;
  }
  .novbar svg {
    display: block;
    width: 30px;
    height: 30px;
  }
  .novbar_logo {
    width: 110px;
    padding-left: 20px;
  }
}
@media (max-width: 430px) {
  .novbar__menus {
    display: none;
  }
  .novbar__menus2 {
    display: none;
  }
  .novbar__button {
    display: none;
  }
  .novbar svg {
    display: block;
    width: 30px;
    height: 30px;
  }
  .novbar_logo {
    width: 100px;
    margin-left: 20px;
  }
}
.novbar__res__menus {
  background-color: white;
  position: fixed;
  z-index: 5;
  height: 100vh;
  width: 60vw;
  transform: translateX(250%);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-left-radius: 35px;
  border-bottom-left-radius: 25px;
  transition: 0.5s;
}

.show {
  transform: translateX(70%);
}

.novbar__res__menus a {
  color: black;
  width: 100%;
  height: 100%;
}

.novbar__res__menus li {
  border: 2px solid whitesmoke;
  border-radius: 20px;
  max-width: 300px;
  width: 100%;
  height: 60px;
  transition: 0.5s;
}

.novbar__res__menus li:hover {
  background-color: whitesmoke;
}

.novbar__res__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.novbar__res__profile img {
  width: 80px;
}

.nav__profile__description1 {
  font-weight: bold;
  font-size: 18px;
}

.nav__profile__description2 {
  font-size: 14px;
}

.nav__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.nav__btn a {
  color: black;
}

.nav__btn button {
  border: none;
  background-color: transparent;
  font-size: 18px;
}

@media (max-width: 500px) {
  .nav__btn {
    margin-left: 20px;
  }
}
@media (max-width: 450px) {
  .nav__btn {
    margin-left: 40px;
  }
}
@media (max-width: 400px) {
  .nav__btn {
    margin-left: 25px;
  }
  .nav__btn button {
    font-size: 16px;
  }
}
@media (max-width: 390px) {
  .nav__btn {
    margin-left: 30px;
  }
  .nav__btn button {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .nav__btn {
    margin-left: 10px;
  }
  .nav__btn button {
    font-size: 14px;
  }
}
.nav__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 90px;
  gap: 10px;
  padding-top: 5px;
  transition: 0.5s;
}

.nav__img__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  border-radius: 20px;
}

#close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
  border-radius: 50px;
}

#close:hover {
  border: 2px solid black;
}

@media (max-width: 710px) {
  .nav__img {
    padding-left: 90px;
  }
}
@media (max-width: 600px) {
  .nav__img {
    padding-left: 90px;
  }
  .nav__button {
    font-size: 18px;
    width: 0px;
    padding-right: 110px;
  }
}
@media (max-width: 530px) {
  .nav__img {
    padding-left: 70px;
    font-size: 18px;
  }
  .nav__img__logo {
    padding-left: 20px;
  }
  .novbar__res__menus {
    font-size: 16px;
  }
  .nav__profile__description1 {
    font-size: 14px;
  }
  .nav__profile__description2 {
    font-size: 15px;
    white-space: nowrap;
  }
  .novbar__res__profile {
    width: 20px;
  }
  #close {
    width: 34px;
    margin-top: -15px;
    margin-right: -8px;
  }
  .nav__button {
    width: 0px;
  }
}
@media (max-width: 480px) {
  .nav__btn {
    padding-left: 0px;
  }
}
@media (max-width: 440px) {
  .nav__img {
    padding-left: 60px;
    font-size: 18px;
  }
  .novbar__res__menus {
    font-size: 16px;
  }
  .nav__profile__description1 {
    font-size: 15px;
  }
  .nav__profile__description2 {
    font-size: 13px;
    white-space: nowrap;
  }
  .novbar__res__profile {
    width: 20px;
  }
  #close {
    width: 34px;
    margin-top: -15px;
    margin-right: -8px;
  }
  .nav__btn {
    padding-left: 0px;
  }
}
@media (max-width: 400px) {
  .nav__img {
    padding-left: 50px;
    padding-top: 5px;
    font-size: 16px;
  }
  .novbar__res__menus {
    font-size: 15px;
  }
  .nav__profile__description1 {
    font-size: 14px;
  }
  .nav__profile__description2 {
    font-size: 12px;
    white-space: nowrap;
  }
  .novbar__res__profile {
    width: 20px;
  }
  #close {
    width: 34px;
    margin-top: -15px;
    margin-right: -8px;
  }
}
@media (max-width: 370px) {
  .nav__img {
    padding-left: 40px;
    padding-top: 5px;
    font-size: 14px;
  }
  .novbar__res__menus {
    font-size: 12px;
  }
  .nav__profile__description1 {
    font-size: 14px;
  }
  .nav__profile__description2 {
    font-size: 12px;
    white-space: nowrap;
  }
  .novbar__res__profile {
    width: 20px;
  }
  #close {
    width: 34px;
    margin-top: -15px;
    margin-right: -8px;
  }
}
.change .novbar__res__menus_li {
  display: none !important;
}

.nav__button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  margin-right: 65px;
}

.nav__btn button a {
  color: black;
}

.nav__button_img {
  width: 25px;
}

#open {
  top: 40px;
  left: 10px;
  margin-left: -80px;
  background-color: transparent;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
  border-radius: 50px;
}

.hide {
  display: none;
}

#privacy__content h3 {
  font-size: 30px;
  padding-bottom: 30px;
  margin-top: 40px;
}

#privacy__content p {
  line-height: 24px;
}

#privacy__close {
  top: 10px;
  left: 5px;
  width: 40px;
  background-color: transparent;
  position: absolute;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
  border-radius: 50px;
}

.data__hide {
  display: none;
}

#data__close {
  top: 10px;
  left: 5px;
  width: 40px;
  background-color: transparent;
  position: absolute;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
  border-radius: 50px;
}

#Data h3 {
  font-size: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
}

#Data p {
  line-height: 24px;
}

.securty_hide {
  display: none;
}

#securty h3 {
  font-size: 30px;
  padding-bottom: 30px;
  margin-top: 120px;
}

#securty p {
  line-height: 24px;
  overflow: scroll;
}

#securty__close {
  top: 10px;
  left: 5px;
  width: 40px;
  background-color: transparent;
  position: absolute;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
  border-radius: 50px;
}

.user__hide {
  display: none;
}

#user_rights h3 {
  font-size: 30px;
  padding-bottom: 30px;
  margin-top: 200px;
}

#user_rights p {
  line-height: 24px;
  overflow: scroll;
}

#user__close {
  top: 10px;
  left: 5px;
  width: 40px;
  background-color: transparent;
  position: absolute;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.5s;
  border-radius: 50px;
}

#home {
  background-image: url("../../assets/images/christina-wocintechchat-com-L85a1k-XqH8-unsplash 1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 247px;
}

.home__title {
  padding-top: 252px;
  color: white;
  font-size: 50px;
  line-height: 64px;
}

.home__description {
  font-size: 18px;
  color: white;
  padding-top: 16px;
  line-height: 27px;
}

.home__email {
  width: 298px;
  height: 47px;
  padding-left: 16px;
  margin-top: 56px;
  outline: none;
  border: 2px solid #F5F5F5;
  border-radius: 4px;
}

.home__button {
  width: 233px;
  height: 47px;
  margin-left: 16px;
  background-color: #5468E7;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.home__button a {
  color: white;
}

body {
  background-color: #F5F5F5;
}

#content {
  padding-top: 82px;
}

.content__info {
  display: grid;
  grid-template-columns: auto auto;
  gap: 158px;
}

.content__title {
  font-size: 50px;
  line-height: 64px;
  padding-top: 158px;
}

.content__description {
  font-size: 18px;
  padding-top: 24px;
  line-height: 27px;
  color: rgba(35, 35, 64, 0.8980392157);
}

.content__link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #5468E7;
  padding-top: 51px;
}

#content2 {
  padding-top: 120px;
}

#about {
  padding-top: 200px;
  padding-bottom: 252px;
}

.about__title {
  text-align: center;
  font-size: 50px;
}

.about__cards {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.about__card {
  max-width: 347px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-top: 110px;
  transition: 0.5s;
  height: 375px;
}

.about__card__star {
  width: 20px;
}

@media (max-width: 386px) {
  .about__card {
    max-width: 327px;
    width: 100%;
  }
}
@media (max-width: 370px) {
  .about__card {
    max-width: 317px;
    width: 100%;
  }
}
.about__card img {
  padding-left: 33px;
  padding-top: 44px;
  max-width: 180px;
}

.about__description {
  padding-top: 24px;
  color: rgba(35, 35, 64, 0.8980392157);
  padding-left: 33px;
  line-height: 27px;
  letter-spacing: 0.5px;
}

.about__card__profile__avator {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 0.5px;
}

.about__card__profile__avator img {
  padding-top: 0px;
}

.about__card__profile__avator2 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 50.5px;
}

.about__card__profile__avator2 img {
  padding-top: 0px;
}

.about__card__profile__avator3 {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
}

.about__card__profile__avator3 img {
  padding-top: 0px;
}

.about__card__title {
  font-size: 24px;
}

.about__card__description {
  font-size: 14px;
  padding-top: 2px;
  color: #7676B2;
}

.about__card:hover {
  transform: scale(0.9);
}

@media (max-width: 900px) {
  #home {
    background-position: right;
    padding-bottom: 111px;
  }
  .home__title {
    font-size: 45px;
    padding-top: 300px;
  }
  .home__button {
    width: 210px;
  }
  .home__description {
    padding-top: 10px;
  }
  .home__email {
    width: 278px;
    margin-top: 40px;
  }
}
@media (max-width: 750px) {
  #home {
    background-position: center right;
  }
  .home__title {
    font-size: 42px;
    padding-top: 380px;
  }
  .home__description {
    padding-top: 10xp;
  }
  .home__button {
    width: 210px;
  }
  .home__email {
    width: 278px;
    margin-top: 40px;
  }
}
@media (max-width: 620px) {
  #home {
    background-position: center right;
  }
  .home__title {
    font-size: 42px;
    padding-top: 340px;
    line-height: 44px;
  }
  .home__description {
    padding-top: 10px;
  }
  .home__button {
    width: 210px;
  }
  .home__email {
    width: 278px;
    margin-top: 40px;
  }
}
@media (max-width: 537px) {
  #home {
    background-position: center right;
  }
  .home__title {
    font-size: 38px;
    padding-top: 320px;
    line-height: 40px;
  }
  .home__button {
    width: 190px;
    font-size: 17px;
  }
  .home__email {
    width: 258px;
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  #home {
    background-position: center right;
  }
  .home__title {
    font-size: 36px;
    padding-top: 300px;
    line-height: 37px;
  }
  .home__button {
    width: 180px;
    font-size: 16px;
  }
  .home__description {
    font-size: 16px;
  }
  .home__email {
    width: 238px;
    margin-top: 40px;
  }
}
@media (max-width: 460px) {
  #home {
    background-position: center right;
  }
  .home__title {
    font-size: 35px;
    padding-top: 300px;
    line-height: 36px;
    padding-left: 20px;
  }
  .home__button {
    width: 165px;
    font-size: 16px;
    height: 42px;
  }
  .home__description {
    font-size: 16px;
    padding-left: 20px;
  }
  .home__email {
    width: 210px;
    margin-left: 20px;
    margin-top: 40px;
    height: 42px;
  }
}
@media (max-width: 435px) {
  #home {
    background-position: center right;
    display: flex;
    flex-wrap: wrap;
  }
  #home {
    justify-content: center;
  }
  .home__title {
    font-size: 30px;
    padding-top: 300px;
    line-height: 36px;
    padding-left: 20px;
  }
  .home__description {
    padding-left: 20px;
    font-size: 14px;
  }
  .home__button {
    width: 94%;
    margin-right: 20px;
    font-size: 16px;
    height: 42px;
    margin-top: 26px;
    margin-left: 10px;
  }
  .home__email {
    width: 94%;
    margin-top: 40px;
    height: 42px;
    margin-left: 10px;
  }
}
@media (max-width: 400px) {
  #home {
    background-position: right;
    display: flex;
    flex-wrap: wrap;
  }
  .home__title {
    font-size: 30px;
    padding-top: 300px;
    line-height: 34px;
  }
  .home__button {
    width: 94%;
    font-size: 16px;
    height: 38px;
    margin-top: 26px;
    margin-left: 10px;
  }
  .home__description {
    font-size: 14px;
    padding-left: 20px;
  }
  .home__email {
    width: 94%;
    margin-top: 40px;
    height: 38px;
    margin-left: 10px;
  }
}
@media (max-width: 360px) {
  #home {
    background-position: right;
    display: flex;
    flex-wrap: wrap;
  }
  .home__title {
    font-size: 27px;
    padding-top: 300px;
    line-height: 30px;
    margin-left: 20px;
  }
  .home__button {
    width: 94%;
    font-size: 16px;
    height: 38px;
    margin-top: 26px;
    margin-left: 10px;
  }
  .home__description {
    font-size: 13px;
    padding-left: 20px;
    line-height: 20px;
  }
  .home__email {
    width: 94%;
    margin-top: 40px;
    height: 38px;
    margin-left: 10px;
  }
}
@media (max-width: 1050px) {
  .content__info {
    display: flex;
    flex-wrap: wrap;
  }
  #content {
    padding-top: -50px;
  }
  .content__img {
    padding-left: 0px;
    width: 94%;
  }
  .content__title {
    padding-top: 0px;
  }
}
@media (max-width: 500px) {
  .content__title {
    font-size: 45px;
    line-height: 50px;
  }
  .content__description {
    font-size: 17px;
  }
}
@media (max-width: 440px) {
  .content__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content__info .content__title {
    font-size: 40px;
    line-height: 46px;
  }
  .content__info .content__description {
    font-size: 16px;
  }
}
@media (max-width: 410px) {
  .content__title {
    font-size: 37px;
    line-height: 44px;
  }
  .content__description {
    font-size: 15px;
  }
}
@media (max-width: 387px) {
  .content__title {
    font-size: 35px;
    line-height: 44px;
  }
  .content__description {
    font-size: 14px;
  }
}
.owl-nav {
  position: absolute;
  top: 10px;
}

.owl-prev {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.owl-prev span {
  color: black;
  font-size: 24px !important;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-next {
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.owl-next span {
  color: black;
  font-size: 24px !important;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.715);
  z-index: 10;
  transition: 4s;
}

#loading img {
  width: 80px;
}

.stop-load {
  opacity: 0;
  z-index: -1 !important;
}

#team {
  padding-top: 110px;
}

.team__title {
  font-size: 50px;
}

.team__description {
  font-size: 14px;
  padding-top: 12px;
}

.info__card {
  margin-top: 80px;
  max-width: 367px;
  width: 100%;
  height: 525px;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  padding-bottom: 250px;
}

.info__card__img {
  width: 100%;
}

.info__card h3 {
  font-size: 24px;
  color: #5468E7;
  padding-top: 26px;
  padding-left: 16px;
  padding-right: 16px;
  line-height: 30px;
}

.info__card__description {
  color: #232340;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  line-height: 23px;
}

.info__card__profile {
  padding-top: 60.5px;
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 16px;
}

.info__cards {
  display: grid;
  grid-template-columns: auto auto auto;
}

.info__card__profile__description {
  border-right: 2px solid #7676B2;
  color: #7676B2;
  padding-right: 5px;
}

.info__card__profile p {
  color: #7676B2;
}

.info__card__profile__additior {
  margin-top: -30px;
}

.info__card__profile__additior2 {
  margin-top: -10px;
}

.info__card__profile__additior3 {
  padding-left: 50px;
  margin-top: 40px;
}

.info__card__profile__additior4 {
  margin-top: -30px;
}

.info__card__profile__additior5 {
  margin-top: -50px;
}

.info__card__profile__additior6 {
  margin-top: -10px;
  padding-left: 80px;
}

.info__button {
  width: 200px;
  height: 47px;
  border-radius: 5px;
  background-color: rgba(84, 104, 231, 0.5019607843);
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-left: 500px;
  margin-top: 120px;
  margin-bottom: 161px;
}

.info__button a {
  color: black;
}

@media (max-width: 465px) {
  .team__title {
    font-size: 40px;
    padding-left: 20px;
  }
  .team__description {
    font-size: 14px;
    padding-left: 20px;
  }
}
@media (max-width: 1000px) {
  .info__cards {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media (max-width: 1000px) {
  .info__cards {
    display: grid;
    grid-template-columns: auto auto;
  }
  .info__button {
    margin-left: 300px;
  }
}
@media (max-width: 755px) {
  .info__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .info__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
  }
}
@media (max-width: 650px) {
  .info__button {
    margin-left: 170px;
  }
}
@media (max-width: 420px) {
  .info__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .info__button {
    margin-left: 90px;
  }
  .team__title {
    font-size: 35px;
  }
  .team__description {
    line-height: 20px;
  }
}
@media (max-width: 390px) {
  .info__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .info__card {
    width: 340px;
  }
  .team__title {
    font-size: 35px;
  }
  .info__button {
    margin-left: 80px;
  }
  .team__description {
    line-height: 20px;
  }
  .info__card__profile__additior3 {
    margin-top: 0px;
  }
  .info__card__profile__additior6 {
    margin-top: -40px;
    padding-left: 60px;
  }
}
.sing__contact {
  display: flex;
  gap: 8px;
}

.sing__contact a {
  color: #5F6C72;
}

#sing1 {
  background-color: #F2F4F5;
  padding-top: 85px;
  padding-bottom: 20px;
}

#sing {
  margin-bottom: 132px;
}

.sing__buttons {
  display: flex;
}

.sing__password {
  padding-right: 15px;
}

.sing__button {
  width: 212px;
  height: 60px;
  border: none;
  background-color: transparent;
  border-bottom: 4px solid #5468E7;
}

.sing__button3 {
  width: 212px;
  height: 60px;
  border: none;
  background-color: transparent;
  /* border-bottom: 2px solid ; */
  margin-bottom: 25px;
}

.sing__button a {
  color: black;
}

.sing__card {
  max-width: 424px;
  width: 100%;
  height: 530px;
  border: 2px solid #E4E7E9;
  border-radius: 4px;
  margin-left: 400px;
  margin-top: 40px;
  background-color: white;
}

.sing__lable {
  padding-left: 34px;
  font-size: 16px;
  color: black;
}

.sing__input {
  margin-left: 12px;
  margin-top: 8px;
  max-width: 95%;
  width: 100%;
  height: 44px;
  border: 2px solid #E4E7E9;
  border-radius: 3px;
  outline: none;
  padding-left: 15px;
  margin-bottom: 26px;
}

.sing__lable2 {
  padding-left: 32px;
  color: black;
  font-size: 14px;
}

.sing__lable3 {
  color: #2DA5F3;
  font-size: 14px;
  padding-left: 186px;
  white-space: nowrap;
}

.sing__button2__img {
  display: flex;
  align-items: center;
  gap: 8px;
}

.sing__button2 {
  width: 95%;
  height: 48px;
  background-color: #5468E7;
  border: none;
  padding-left: 160px;
  margin-left: 12px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.sing__button2 a {
  color: white;
}

hr {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 34px;
}

.sing__mini__card {
  max-width: 95%;
  width: 100%;
  height: 44px;
  border: 2px solid #E4E7E9;
  margin-left: 12px;
  padding-top: 10px;
  padding-left: 16px;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.sing__mini__card2 {
  margin-top: 18px;
}

.sing__mini__content {
  display: flex;
  gap: 70px;
  align-items: center;
}

.sing__mini__card a {
  color: black;
}

@media (max-width: 900px) {
  .sing__card {
    margin-left: 180px;
    margin-left: 0px;
  }
  .sing__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sing {
    margin-right: 20px;
  }
}
@media (max-width: 480px) {
  #sing {
    margin-left: 15px;
    margin-right: 15px;
  }
  .sing__card {
    width: 404px;
  }
  .sing__lable3 {
    padding-left: 176px;
  }
}
@media (max-width: 460px) {
  #sing1 {
    font-size: 14px;
    padding-left: 20px;
  }
  #sing1 img {
    width: 14px;
  }
}
@media (max-width: 455px) {
  #sing {
    margin-left: 15px;
    margin-right: 15px;
  }
  .sing__card {
    width: 370px;
  }
  .sing__button2 {
    padding-left: 130px;
  }
}
@media (max-width: 400px) {
  #sing {
    margin-left: 20px;
    margin-right: 15px;
  }
  .sing__card {
    width: 350px;
  }
  .sing__lable3 {
    padding-left: 120px;
  }
}
@media (max-width: 380px) {
  #sing {
    margin-left: 15px;
    margin-right: 15px;
  }
  .sing__card {
    width: 350px;
  }
  .sing__lable3 {
    padding-left: 120px;
  }
  .sing__button2 {
    padding-left: 125px;
  }
}
@media (max-width: 370px) {
  #sing {
    margin-left: 10px;
    margin-right: 15px;
  }
  .sing__card {
    width: 350px;
  }
  .sing__lable3 {
    padding-left: 120px;
  }
}
@media (max-width: 366px) {
  #sing {
    margin-left: 5px;
    margin-right: 15px;
  }
  .sing__card {
    width: 350px;
  }
  .sing__lable3 {
    padding-left: 120px;
  }
}
#forget {
  margin-bottom: 132px;
}

.forget__card {
  height: 472px;
  width: 424px;
  border: 2px solid #E4E7E9;
  margin-left: 400px;
  margin-top: 40px;
  background-color: white;
}

.forget__title {
  font-size: 20px;
  text-align: center;
  padding-top: 32px;
}

.forget__description {
  text-align: center;
  padding-top: 12px;
  line-height: 20px;
  font-size: 14px;
  color: #5F6C72;
  padding-bottom: 24px;
}

.forget__contact a {
  color: #2DA5F3;
}

.forget__lable {
  margin-left: 12px;
  color: black;
}

.forget__email {
  margin-left: 12px;
  margin-top: 8px;
  width: 95%;
  height: 44px;
  outline: none;
  border: 2px solid #E4E7E9;
  padding-left: 15px;
  border-radius: 3px;
}

.forget__button a {
  color: white;
}

.forget__button {
  margin-left: 12px;
  width: 95%;
  height: 48px;
  border-radius: 5px;
  border: none;
  background-color: #5468E7;
  padding-left: 145px;
  margin-top: 24px;
  cursor: pointer;
}

.forget__button__img {
  display: flex;
  align-items: center;
  gap: 8px;
}

.forget__contact {
  display: flex;
  gap: 6px;
  padding-left: 12px;
  padding-top: 24px;
}

.forget__contact2 {
  padding-top: 8px;
}

.forget__contact p {
  color: #5F6C72;
}

.forget__description2 {
  padding-left: 12px;
  padding-top: 5px;
  font-size: 14px;
  line-height: 20px;
}

.forget__lable2 {
  padding-left: 135px;
  color: #2DA5F3;
}

@media (max-width: 900px) {
  .forget__card {
    margin-left: 0px;
  }
  .forget__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 510px) {
  .forget__content {
    margin-left: 15px;
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  .forget__button {
    padding-left: 140px;
  }
}
@media (max-width: 430px) {
  #forget {
    margin-right: 15px;
  }
  .forget__card {
    width: 400px;
  }
  .forget__button {
    padding-left: 120px;
  }
  .forget__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1% px;
    margin-left: 4%;
  }
  #sing1 {
    font-size: 14px;
    padding-left: 2;
  }
}
@media (max-width: 390px) {
  #forget {
    margin-right: 15px;
  }
  .forget__card {
    width: 370px;
  }
  .forget__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1% px;
    margin-left: 4%;
  }
  .forget__button {
    padding-left: 95px;
  }
  #sing1 {
    font-size: 14px;
    padding-left: 2;
  }
}
@media (max-width: 378px) {
  .forget__button {
    padding-left: 84px;
  }
}
@media (max-width: 440px) {
  .forget__button {
    padding-left: 115px;
  }
}
.password__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password_none .password__li {
  display: none;
}

.password__description {
  font-size: 26px;
  font-weight: bold;
  margin-top: 0px;
  margin-left: -15px;
  padding-bottom: -150px;
}

.password__content {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  gap: 10px;
}

.password__head li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.password__li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

@media (max-width: 500px) {
  .password__content {
    width: 220px;
  }
}
@media (max-width: 480px) {
  .password__content {
    width: 200px;
  }
}
@media (max-width: 460px) {
  .password__content {
    width: 200px;
  }
}
@media (max-width: 395px) {
  .password__content {
    width: 180px;
  }
}
@media (max-width: 375px) {
  .password__content {
    width: 160px;
    padding-left: 20px;
  }
}
#support {
  padding-top: 228px;
}

.support__title {
  font-family: Lexend Deca;
  font-weight: 700;
  font-style: Bold;
  font-size: 50px;
  leading-trim: NONE;
  line-height: 64px;
  letter-spacing: 0%;
  padding-left: 198px;
}

.support__profile {
  padding-left: 198px;
  padding-top: 56px;
}

.support__img {
  padding-left: 99px;
  padding-top: 56px;
}

.support__description {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 27px;
  align-items: center;
  letter-spacing: 0%;
  margin-top: 80px;
  margin-left: 208px;
}

.support__mark {
  width: 100%;
  max-width: 544px;
  margin-top: 80px;
}

.support__mark img {
  width: 4;
  height: 4;
}

.support__content {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 80px;
}

.support__mark__description {
  font-family: Lexend Deca;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 1%;
  text-transform: uppercase;
  color: #C897E4;
}

.support__mark__title {
  font-family: Lexend Deca;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0%;
  padding-top: 12px;
}

.support__mark__description2 {
  font-family: Lexend Deca;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1%;
}

#hero {
  margin-top: 240px;
  padding-bottom: 160px;
}

.hero__title {
  font-family: Lexend Deca;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-left: 198px;
  margin-top: -180px;
}

.hero__contact {
  display: flex;
  gap: 25px;
  padding-left: 198px;
  padding-top: 50px;
}

.hero__text {
  max-width: 692px;
  width: 100%;
  height: 192px;
  align-items: center;
  outline: none;
  border: 2px solid transparent;
  padding-left: 20px;
  padding-top: 20px;
}

.hero__contact {
  width: 56;
  height: 56;
}

@media (max-width: 900px) {
  .support__con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
  }
}
@media (max-width: 900px) {
  .support__img {
    max-width: 600px;
    height: 450px;
  }
  .support__title {
    padding-left: 0px;
  }
  .support__description {
    padding-left: 0px;
  }
  .support__profile {
    padding-left: 0px;
  }
  .support__content {
    padding-left: 0px;
  }
  .hero__contact {
    padding-left: 0px;
  }
  .support__img {
    padding-left: 0px;
  }
  .hero__text {
    align-items: none;
    font-size: 15px;
    padding-top: px;
  }
  .support__mark {
    padding-left: 25px;
  }
  .support__description {
    margin-top: -40px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 50px;
    line-height: 45px;
    margin-left: -270px;
  }
  .support__profile {
    margin-left: -515px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -100px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 850px) {
  .support__description {
    margin-top: -40px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 50px;
    line-height: 45px;
    margin-left: -200px;
  }
  .support__profile {
    margin-left: -430px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -100px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 800px) {
  .support__description {
    margin-top: -40px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 50px;
    line-height: 45px;
    margin-left: -150px;
  }
  .support__profile {
    margin-left: -370px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -100px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 750px) {
  .support__description {
    margin-top: -40px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 50px;
    line-height: 45px;
    margin-left: -120px;
  }
  .support__profile {
    margin-left: -330px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -100px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 700px) {
  .support__description {
    margin-top: -40px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 50px;
    line-height: 45px;
    margin-left: -80px;
  }
  .support__profile {
    margin-left: -290px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -100px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 650px) {
  .support__description {
    margin-top: -40px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 46px;
    line-height: 45px;
    margin-left: -65px;
  }
  .support__profile {
    margin-left: -160px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -170px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 600px) {
  .support__description {
    margin-top: -70px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 43px;
    line-height: 45px;
    margin-left: -60px;
  }
  .support__profile {
    margin-left: -190px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -120px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 550px) {
  .support__description {
    margin-top: -100px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 40px;
    line-height: 45px;
    margin-left: -40px;
  }
  .support__profile {
    margin-left: -160px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -120px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 500px) {
  .support__profile {
    margin-left: -115px;
  }
  .support__title {
    margin-left: -62px;
  }
}
@media (max-width: 500px) {
  .support__title {
    margin-top: -120px;
    font-size: 36px;
    line-height: 45px;
    margin-left: -22px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -120px;
  }
  .support__description {
    margin-left: 0px;
    margin-top: -100px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 440px) {
  .support__description {
    margin-top: -170px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 32px;
    line-height: 45px;
  }
  .support__profile {
    margin-left: -30px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -120px;
  }
  .hero__contact {
    margin-top: -170px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 300px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 410px) {
  .support__description {
    margin-top: -150px;
    margin-left: 0px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 32px;
    line-height: 45px;
  }
  .support__profile {
    margin-left: -30px;
  }
  .support__content {
    margin-left: -25px;
    margin-top: -100px;
  }
  .hero__contact {
    margin-top: -150px;
  }
  .hero__title {
    display: none;
  }
  .hero__text {
    width: 270px;
  }
  #hero {
    padding-bottom: -250px;
  }
}
@media (max-width: 392px) {
  .support__description {
    margin-top: -150px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 32px;
    line-height: 45px;
  }
  .support__profile {
    margin-left: 0px;
  }
  .hero__contact {
    margin-top: -200px;
    margin-left: 0px;
  }
  .hero__title {
    display: none;
  }
  .support__description {
    margin-left: 0px;
  }
  .hero__text {
    width: 250px;
  }
  .support__content {
    margin-left: -20px;
    margin-top: -90px;
  }
  #hero {
    padding-bottom: -230px;
  }
}
@media (max-width: 385px) {
  .support__description {
    margin-top: -150px;
  }
  .support__title {
    margin-top: -120px;
    font-size: 32px;
    line-height: 45px;
    margin-left: 7px;
  }
  .support__profile {
    margin-left: 0px;
  }
  .hero__contact {
    margin-top: -200px;
    margin-left: 0px;
  }
  .hero__title {
    display: none;
  }
  .support__description {
    margin-left: 0px;
  }
  .hero__text {
    width: 250px;
  }
  .support__content {
    margin-left: -20px;
    margin-top: -90px;
  }
  #hero {
    padding-bottom: -230px;
  }
}
.change__card {
  max-width: 424px;
  width: 100%;
  height: 470px;
  border: 2px solid #E4E7E9;
  border-radius: 4px;
  margin-top: 80px;
  padding-top: 25px;
}

.change__description2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}

.change__description {
  text-align: center;
  padding-bottom: 25px;
  font-size: 18px;
}

.change__mini__card {
  padding-left: 35px;
}

.change__lable {
  padding-left: 15px;
}

.change__button {
  padding-left: 145px;
}

@media (max-width: 800px) {
  .change__card {
    margin-top: 60px;
  }
}
@media (max-width: 450px) {
  .change__button {
    padding-left: 130px;
  }
  .change__mini__card {
    padding-left: 20px;
  }
  .change__card {
    padding-right: 6px;
  }
}
@media (max-width: 420px) {
  .change__button {
    padding-left: 110px;
  }
  .change__mini__card {
    padding-left: 5px;
  }
}
@media (max-width: 450px) {
  .change__button {
    padding-left: 110px;
  }
  .change__mini__card {
    padding-left: 0px;
  }
  .change__card {
    margin-top: 50px;
  }
}
@media (max-width: 395px) {
  .change__button {
    padding-left: 100px;
  }
  .change__mini__card {
    padding-left: -20px;
    font-size: 15px;
  }
  .change__card {
    margin-top: 40px;
  }
}
.change__lable2 {
  width: 30px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
}

.change__lable3 {
  width: 30px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
}

.change__lable4 {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid grey;
}

.change__lable5 {
  width: 30px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
}

.change__form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.change__card2 {
  height: 370px;
}

@media (max-width: 420px) {
  .change__button2 {
    padding-left: 95px;
  }
  .change__card2 {
    margin-top: 30px;
  }
}
@media (max-width: 390px) {
  .change__button2 {
    padding-left: 85px;
  }
}
body {
  background-color: white;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-top: 300px;
}

.end img {
  width: 140px;
}

.end h1 {
  font-size: 32px;
  line-height: 34px;
}

.end1 button {
  width: 160px;
  height: 38px;
  margin-left: 550px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid black;
  margin-top: 25px;
  transition: 0.7s;
  cursor: pointer;
  font-size: 18px;
}

.end1 button a {
  color: black;
}

.end1 button:hover {
  background-color: #2DA5F3;
  border: none;
}

.end1 button:hover a {
  color: white;
}

@media (max-width: 900px) {
  .end1 button {
    margin-left: 350px;
  }
}
@media (max-width: 700px) {
  .end1 button {
    margin-left: 250px;
  }
}
@media (max-width: 550px) {
  .end1 button {
    margin-left: 180px;
  }
}
@media (max-width: 480px) {
  .end1 button {
    margin-left: 150px;
  }
}
@media (max-width: 430px) {
  .end1 button {
    margin-left: 120px;
  }
}
@media (max-width: 410px) {
  .end img {
    width: 120px;
  }
  .end h1 {
    font-size: 28px;
  }
  .end1 button {
    margin-left: 90px;
  }
}
@media (max-width: 385px) {
  .end img {
    width: 110px;
  }
  .end h1 {
    font-size: 26px;
  }
  .end1 button {
    margin-left: 80px;
  }
}/*# sourceMappingURL=styles.css.map */