.change__card {
    max-width: 424px;
    width: 100%;
    height: 470px;
    border: 2px solid #E4E7E9;
    border-radius: 4px;
    margin-top: 80px;
    padding-top: 25px;
}

.change__description2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
}

.change__description {
    text-align: center;
    padding-bottom: 25px;
    font-size: 18px;
}

.change__mini__card {
    padding-left: 35px;
}

.change__lable {
    padding-left: 15px;
}

.change__button {
    padding-left: 145px;
}

@media (max-width:800px) {
    .change__card {
        margin-top: 60px;
    }
}

@media (max-width:450px) {
    .change__button {
        padding-left: 130px;
    }

    .change__mini__card {
        padding-left: 20px;
    }

    .change__card {
        padding-right: 6px;
    }
}

@media (max-width:420px) {
    .change__button {
        padding-left: 110px;
    }

    .change__mini__card {
        padding-left: 5px;
    }
}

@media (max-width:450px) {
    .change__button {
        padding-left: 110px;
    }

    .change__mini__card {
        padding-left: 0px;
    }
}

@media (max-width:395px) {
    .change__button {
        padding-left: 100px;
    }

    .change__mini__card {
        padding-left: -20px;
        font-size: 15px;
    }
}

.change__lable2 {
    width: 30px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 5px;
}

.change__lable3 {
    width: 30px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 5px;
}

.change__lable4 {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid grey;
}

.change__lable5 {
    width: 30px;
    height: 30px;
    border: 2px solid grey;
    border-radius: 5px;

}

.change__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.change__card2 {
    height: 370px;
}
@media (max-width:420px) {
    .change__button2{
        padding-left: 95px;
    }
    .change__card2{
        margin-top: 30px;
    }
}
@media (max-width:390px) {
    .change__button2{
        padding-left: 85px;
    }
}