#forget {
    margin-bottom: 132px;
}

.forget__card {
    height: 472px;
    width: 424px;
    border: 2px solid #E4E7E9;
    margin-left: 400px;
    margin-top: 40px;
    background-color: white;
}

.forget__title {
    font-size: 20px;
    text-align: center;
    padding-top: 32px;
}

.forget__description {
    text-align: center;
    padding-top: 12px;
    line-height: 20px;
    font-size: 14px;
    color: #5F6C72;
    padding-bottom: 24px;
}

.forget__contact a {
    color: #2DA5F3;
}

.forget__lable {
    margin-left: 12px;
    color: black;
}

.forget__email {
    margin-left: 12px;
    margin-top: 8px;
    width: 95%;
    height: 44px;
    outline: none;
    border: 2px solid #E4E7E9;
    padding-left: 15px;
    border-radius: 3px;
}

.forget__button a {
    color: white;
}

.forget__button {
    margin-left: 12px;
    width: 95%;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: #5468E7;
    padding-left: 145px;
    margin-top: 24px;
    cursor: pointer;
}

.forget__button__img {
    display: flex;
    align-items: center;
    gap: 8px;
}

.forget__contact {
    display: flex;
    gap: 6px;
    padding-left: 12px;
    padding-top: 24px;
}

.forget__contact2 {
    padding-top: 8px;
}

.forget__contact p {
    color: #5F6C72;
}

.forget__description2 {
    padding-left: 12px;
    padding-top: 5px;
    font-size: 14px;
    line-height: 20px;
}

.forget__lable2 {
    padding-left: 135px;
    color: #2DA5F3;
}
@media (max-width:900px) {
    .forget__card{
        margin-left: 0px;
    }
    .forget__content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:510px) {
    .forget__content{
        margin-left: 15px;
        margin-right: 10px;
    }
}
@media (max-width:480px) {
    .forget__button{
        padding-left: 140px;
    }
}
@media (max-width:430px) {
    #forget{
        margin-right: 15px;
    }
    .forget__card{
        width: 400px;
    }
    .forget__button{
        padding-left: 120px;
    }
    .forget__content{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1%px;
        margin-left: 4%;
    }
    #sing1{
        font-size: 14px;
        padding-left: 2;
    }
}
@media (max-width:390px) {
    #forget{
        margin-right: 15px;
    }
    .forget__card{
        width: 370px;
    }
    .forget__content{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1%px;
        margin-left: 4%;
    }
    .forget__button{
        padding-left: 95px;
    }
    #sing1{
        font-size: 14px;
        padding-left: 2;
    }
}
@media (max-width:378px) {
    .forget__button{
        padding-left: 84px;
    }
}
@media (max-width:440px) {
    .forget__button{
        padding-left: 115px;
    }
}